body {
  background: #427afe;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.card-hover {
  transition: 0.2s ease-in-out;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15) !important;
}
